* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

$sz: ( HeaderHeading:50px, mainFont:16px);
%section-banner-text1 {
    font-size: 12px;
    color: silver;
    padding: 10px;
    line-height: 18px;
}

@mixin linkA() {
    color: whitesmoke;
    &:hover {
        text-decoration: none;
    }
}

@mixin buttonA() {
    width: 100px;
    height: 35px;
    padding: 8px 5px;
    background: $mixinButtonABackground;
    color: whitesmoke;
    font-size: 14px;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        color: rgb(106, 152, 26);
        background-color: white;
    }
}

%span1 {
    font-size: 6px;
    display: block;
    margin-left: 10px;
}

body {
    background: $bodyBackground;
}

header {
    background: url($contentBackground);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    border-bottom-right-radius: 30%;
    .header-wrap {
        margin-left: 150px;
        padding: 20px;
        color: $headerWrapColor;
        padding-bottom: 100px;
        z-index: 1;
        position: relative;
        &::before {
            display: block;
            background-color: $headerWrapBefore;
            width: 210px;
            height: 38px;
            content: "";
            position: absolute;
            z-index: -1;
            top: 160px;
        }
    }
    .landing-logo {
        display: flex;
        img {
            width: 35px;
            height: 35px;
        }
        p {
            width: 50px;
            font-size: 16px;
            padding-left: 10px;
            span {
                @extend %span1
            }
        }
    }
    .header_heading {
        font-size: map-get($sz, HeaderHeading);
        margin-top: 50px;
        margin-bottom: 40px;
        font-weight: bold;
        width: 400px;
        line-height: 50px;
    }
    .header_text {
        font-size: 12px;
        width: 450px;
        line-height: 18px;
        padding-bottom: 40px;
        opacity: 0.7;
    }
}

.login {
    margin-left: 110px;
}

button {
    @include buttonA;
}

a {
    @include linkA;
}

main {
    .section_text {
        text-align: center;
        z-index: 1;
        padding: 25px 0px 5px 0;
        font-size: 30px;
        position: relative;
        color: $sectionTextColor;
        &::before {
            background-color: $headerWrapBefore;
            width: 130px;
            height: 38px;
            content: "";
            position: absolute;
            z-index: -1;
            top: 20px;
            left: 50.62%;
        }
    }
    .section_card_wrap {
        width: 830px;
        margin: auto;
        .section_card {
            display: flex;
            margin: 20px;
            background-color: $sectionCardBackgroundColor;
            padding: 12px;
            border-radius: 5px;
            .section_card_img {
                width: 310px;
                height: 200px;
                border-radius: 5px;
            }
            .section_card_right_container {
                width: 360px;
                text-align: center;
                margin: 0px 40px;
                color: whitesmoke;
                margin-top: 10px;
                .section_card_heading {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 20px;
                }
                .section_card_text {
                    text-align: justify;
                    @extend %section-banner-text1;
                }
                .section_link {
                    @extend %section-banner-text1;
                }
            }
        }
    }
    .section_banner {
        width: 850px;
        background: linear-gradient(to right, $sectionBannerBackground1, $sectionBannerBackground2);
        margin: 20px auto;
        display: flex;
        justify-content: justify;
        padding: 15px;
        border-radius: 4px;
        position: relative;
        top: 70px;
        p {
            padding: 5px 0px 0px 5px;
            margin-left: 90px;
        }
        .section_banner_heading {
            font-size: 21px;
            z-index: 1;
            color: $sectionBannerHeadingColor;
            position: relative;
            &::before {
                background-color: $headerWrapBefore;
                width: 44px;
                height: 33px;
                content: "";
                position: absolute;
                z-index: -1;
                top: 0px;
                left: 84px;
            }
        }
        .section_banner_text {
            @extend %section-banner-text1;
            padding-left: 6px;
        }
        .section_banner_button {
            margin-left: 230px;
            margin-top: 10px;
        }
    }
}

footer {
    background-color: $sectionCardBackgroundColor;
    height: 180px;
    .footer-wrap {
        display: flex;
        color: whitesmoke;
        .footer_logo {
            display: flex;
            margin-top: 100px;
            margin-left: 100px;
            color: silver;
            img {
                width: 35px;
                height: 35px;
                color: silver;
            }
            p {
                width: 50px;
                font-size: 16px;
                padding-left: 10px;
                span {
                    @extend %span1;
                    color: silver;
                }
            }
        }
        .footer_text {
            font-size: 11px;
            width: 230px;
            margin-left: 25%;
            margin-top: 100px;
            color: silver;
        }
        .footer-cr {
            font-size: 12px;
            margin-left: 20%;
            margin-top: 100px;
            color: silver;
        }
    }
}