$contentBackground: "../img/m-h-day.jpg";
$headerWrapColor:rgb(35, 37, 53);
$headerWrapBefore:#14a0c7;
$mixinButtonABackground:rgb(106, 152, 26);
$bodyBackground: white;
$sectionTextColor:black;
$sectionCardBackgroundColor: rgb(33, 35, 46);
$sectionBannerHeadingColor:rgb(43, 47, 60);
$sectionBannerBackground1:rgb(106, 151, 28);
$sectionBannerBackground2:rgb(52, 98, 200)