$contentBackground: "../img/m-h-night.jpg";
$headerWrapColor:white;
$headerWrapBefore:rgb(252, 79, 60);
$mixinButtonABackground:rgb(226, 171, 39);
$bodyBackground: rgb(33, 35, 46);
$sectionTextColor:white;
$sectionCardBackgroundColor: rgb(59, 63, 79);
$sectionBannerHeadingColor:white;
$sectionBannerBackground1:rgb(222, 165, 38);
$sectionBannerBackground2:rgb(148, 52, 80)