@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px auto;
}

header {
    background: url(../img/apples.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-position: 50% 50%;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: auto;
    padding-top: 40px;
}

.first-line {
    letter-spacing: 2px;
    padding-left: 0;
    margin-left: 0;
}

.header-nav {
    margin-right: 20px;
}

.header-nav a {
    margin: 30px;
    color: #fff;
    text-decoration: none;
}

.header-central-logo {
    text-align: center;
    padding-top: 170px;
}

h1 {
    font-size: 50px;
    color: #fff;
    letter-spacing: 15px;
}

span {
    font-size: 90px;
    margin-left: 20px;
    margin-right: -10px;
}

.button-show-more-block {
    display: flex;
    justify-content: center;
    padding: 140px 0 120px 0;
}

.show-more-button {
    width: 250px;
    height: 56px;
    color: #fff;
    border: 3px solid #fff;
    background-color: rgb(52, 54, 56, .7);
    font-size: 16px;
    margin-top: 30px;
}

.show-more-button:hover {
    background-color: rgb(255, 255, 255, .7);
    border: 3px solid rgb(52, 54, 56, .7);
    cursor: pointer;
    color: rgb(52, 54, 56, .7);
}

.lorem-section-1 {
    display: flex;
}

.lorem-block-1 {
    padding: 140px 0px;
    width: 40%;
    font-size: 24px;
}

.lorem-block-1 strong {
    font-weight: bold;
    font-size: 24px;
}

.lorem-block-2 {
    font-size: 16px;
    width: 44%;
}

.articles {
    background: #F3F3F3;
    padding-bottom: 10px;
}

.article-title {
    font-size: 24px;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 75px;
}

.article-title strong {
    font-size: 25px;
    font-weight: bold;
    padding-left: 8px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 3%;
    margin-right: 3%;
}

.article-text {
    text-align: center;
    padding: 10px 20px;
    width: 40%;
}

.article-img {
    position: relative;
    width: 60%;
}

.img-1,
.img-2 {
    width: 100%;
    height: 100%;
}

.likes-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 60px;
    height: 36px;
    color: #fff;
    border: 3px solid #fff;
    background-color: rgb(52, 54, 56, .7);
    font-size: 14px;
}

.likes-button:hover {
    background-color: rgb(255, 255, 255, .7);
    border: 3px solid rgb(52, 54, 56, .7);
    cursor: pointer;
    color: rgb(52, 54, 56, .7);
}

.date {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 25px;
    color: #fff;
}

.date strong {
    font-weight: bold;
    margin-left: 5px;
}

.subscribe_section {
    display: flex;
    justify-content: start;
    padding: 40px 30px;
    align-items: center;
    background: #fff;
    margin: 50px 3%;
}

.subscribe-text {
    font-size: 24px;
    padding: 20px 0px;
    margin-right: 0;
}

.subscribe-text b {
    font-weight: bold;
}

#email {
    padding: 0px 24px;
    height: 65px;
    width: 60%;
    margin-right: 0;
    background: #E8E8E8;
    border: 1px solid #000;
    border-right: none;
}

#email::placeholder {
    background: #E8E8E8;
    color: #000;
    font-size: 14px;
}

#submit {
    padding: 0px 28px;
    height: 65px;
    margin-left: 0px;
    color: #fff;
    font-size: 14px;
    background-color: #343638;
    border: 1px solid #343638;
}

#submit:hover {
    padding: 0px 28px;
    margin-left: 0px;
    color: #343638;
    font-size: 14px;
    background-color: #E8E8E8;
    border: 1px solid #343638;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 40px;
}

.footer-blocks {
    width: 24%;
    padding-top: 90px;
    margin: 0px 15px;
    padding-bottom: 90px;
}

h3 {
    padding: 15px 0px;
    font-weight: bold;
}

.footer-blocks p {
    color: #9E9E9E;
    padding: 5px 5px 5px 0;
}

.footer-block-2 p:nth-last-child(1) {
    color: #F0F0F0;
}

.footer-block-2 p:nth-child(2) {
    font-style: italic;
}

.footer-block-3 {
    line-height: 25px;
}

#email2 {
    width: 72%;
    height: 40px;
    padding: 10px;
    color: #000;
    background: #E8E8E8;
    border-color: 1px solid #000;
    border-right: none;
    margin: 0;
}

#email2::placeholder {
    color: #000;
    font-size: 14px;
}

.second-email {
    display: flex;
    justify-content: start;
}

#submit-2 {
    padding: 0;
    height: 40px;
    margin: 0px;
    color: #fff;
    font-size: 14px;
    background-color: #343638;
    border: 1px solid #343638;
    width: 80px;
}

#submit-2:hover {
    color: #343638;
    font-size: 14px;
    background-color: #E8E8E8;
    border: 1px solid #343638;
    height: 40px;
}

.second-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: auto;
}

.year {
    padding-left: 2.6%;
    margin-left: 0;
    color: #A4A4A4;
}

.footer-nav {
    padding-right: 2.6%;
    margin-right: 0;
}

.footer-nav a {
    padding-right: 20px;
    color: #000;
    text-decoration: none;
}

.footer-nav a:last-child {
    padding-right: 0;
}

hr {
    color: #A4A4A4;
    height: 2px;
    background: #E8E8E8;
    border: none;
    width: 92%;
}