                        nav {
                            box-shadow: 0px 0px 8px silver;
                        }
                        
                        nav li a:hover {
                            background-color: grey;
                        }
                        
                        .tm-banner-inner {
                            border: 25px solid #F5F5F5;
                        }
                        
                        .tm-banner {
                            padding: 0px;
                        }
                        
                        #home {
                            box-shadow: 0px 0px 8px silver;
                        }
                        
                        section {
                            box-shadow: 0px 0px 8px silver;
                        }
                        
                        section::before {
                            content: "";
                            border: 40px solid transparent;
                            border-bottom: 0px solid transparent;
                            border-right: 200px solid transparent;
                            border-left: 0px solid #87CEFA;
                            border-top: 30px solid #87CEFA;
                        }
                        
                        p:first-letter {
                            color: #87CEFA;
                            font-size: 30px;
                        }
                        
                        .tm-content-box.flex-2-col {
                            display: flex;
                            align-items: center;
                        }
                        
                        .flex-item.tm-section-title {
                            color: gainsboro;
                            letter-spacing: 5px;
                        }
                        
                        .tm-section-description:first-of-type {
                            font-style: italic;
                            color: silver;
                        }
                        
                        h2+p {
                            font-style: italic;
                        }
                        
                        .box.box-bg:hover {
                            color: white;
                            background-color: #87CEFA;
                        }
                        
                        .tm-box-bg-title:hover {
                            color: white;
                        }
                        
                        a.text:after {
                            content: "New";
                            vertical-align: super;
                            font-size: 10px;
                            color: red;
                            text-decoration: underline;
                            text-decoration-style: double;
                            text-decoration-color: white;
                        }
                        
                        ol li a {
                            color: black;
                        }
                        
                        ol li a:link {
                            text-decoration-color: #fff;
                        }
                        
                        ol li a:visited {
                            text-decoration-color: black;
                            color: black;
                            text-decoration: underline;
                        }
                        
                        ol li a:hover {
                            color: deepskyblue;
                            text-decoration: underline;
                            text-decoration-style: double;
                            text-decoration-color: deepskyblue;
                        }
                        
                        .box.box-work:nth-child(even) {
                            background-color: rgb(245, 245, 245);
                        }
                        
                        .box.box-work {
                            padding: 7px;
                        }
                        
                        .box.box-work p {
                            color: grey;
                        }
                        
                        .box.box-work p::first-letter {
                            color: grey;
                        }
                        
                        .mandatory-field::after {
                            content: "*";
                            color: red;
                            font-weight: bold;
                        }
                        
                        .submit-btn {
                            height: 50px;
                            width: 130px;
                            display: block;
                            background-color: white;
                            position: relative;
                            float: right;
                            color: deepskyblue;
                            border-radius: 0px;
                            border: 1px solid deepskyblue;
                        }
                        
                        .submit-btn:hover {
                            background-color: deepskyblue;
                            border-color: deepskyblue;
                            color: white;
                            border-width: 2px;
                        }
                        
                        @media print {
                            .tm-sidebar {
                                display: none;
                            }
                            #home {
                                display: flex;
                                justify-content: center;
                                margin-bottom: 0;
                            }
                            .tm-banner-inner {
                                padding: 40px 60px;
                            }
                            .padding-medium.flex-item.tm-team-description-container.flex-item {
                                width: 300px;
                                margin-right: 10px;
                                margin-left: 0px;
                                margin-top: 0;
                                padding-top: 0;
                            }
                            div .tm-section-title {
                                color: blue;
                                font-size: 28px;
                                padding: 0;
                                margin: 0;
                                letter-spacing: 0px;
                            }
                            .tm-section-description {
                                text-indent: 20px;
                            }
                            .tm-section-description::first-letter {
                                color: #87CEFA;
                                font-size: 30px;
                            }
                            .tm-content-box.flex-2-col {
                                display: flex;
                                font-size: 14px;
                                justify-content: center;
                                align-items: center;
                            }
                            .tm-section-description:first-of-type {
                                font-style: italic;
                                color: black;
                            }
                            img {
                                width: 150px;
                            }
                            section> :first-child {
                                display: none;
                            }
                            section::before,
                            section::after {
                                display: none;
                            }
                            .tm-content-box,
                            .heading.tm-content-box,
                            .blocks,
                            .ideas,
                            .tm-content-box {
                                display: none;
                            }
                            footer {}
                            .tm-banner-inner {
                                border: 1px solid silver;
                            }
                            .tm-banner {
                                padding: 30px;
                            }
                        }