/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    padding: 10px;
}

.logo-block {
    margin-left: 150px;
}

.header-nav {
    margin-right: 8%;
    margin-top: 10px;
}

nav a {
    margin-left: 12px;
    text-decoration: none;
    color: #363636;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    color: #0078aa;
}

.health-care-block {
    background: url(../img/lady.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 20%;
    background-position: center 50%;
    height: 550px;
    margin-top: 60px;
}

.section-health-care {
    padding-left: 10%;
    padding-top: 200px;
}

.section-health-care p {
    color: silver;
    padding-top: 20px;
}

.health-care-wrap {
    width: 500px;
}

h1 {
    font-size: 40px;
}

.scrollup {
    position: fixed;
    right: 20px;
    bottom: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 2px;
    border-radius: 50%;
}

#up {
    font-size: 18px;
    padding-top: 14px;
    width: 50px;
    height: 50px;
}

.icons {
    margin-top: 20px;
}

i {
    color: white;
    background: rgb(17, 121, 168);
    border-radius: 50%;
    border: 1px solid rgb(17, 121, 168);
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 28px;
    margin-right: 20px;
}

i:hover {
    color: rgb(17, 121, 168);
    background: white;
}

.about-clinic-block {
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;
}

.about-clinic-section {
    background: url(../img/tools.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 50%;
    height: 500px;
}

.about-clinic-wrap {
    width: 50%;
}

.about-clinic-text {
    width: 500px;
    padding: 20px;
}

h2 {
    font-size: 30px;
}

#proffesional-line {
    color: #0078aa;
    padding: 10px 0;
}

.about-clinic-text h4 {
    padding: 8px 0;
}

.about-clinic-text p {
    padding-bottom: 10px;
    font-size: 14px;
}

.arrow {
    color: #0078aa;
    font-size: 12px;
}

.help-section {
    background: url(../img/services_bg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.help-header {
    text-align: center;
    padding-top: 50px;
}

#read-more {
    padding: 10px;
    font-size: 14px;
}

.help-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.help-block {
    width: 360px;
    height: 240px;
    background: #fff;
    padding: 20px;
    margin: 15px;
}

.help-block p {
    font-size: 14px;
}

.help-block h4 {
    padding: 10px 0;
}

.offers {
    background: url(../img/pricing_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.offers-header {
    padding: 40px 0 40px 0;
    text-align: center;
}

.offers-blocks {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    align-items: center;
}

.offer {
    height: 500px;
    padding: 10px 100px;
    text-align: center;
    background: rgb(78, 201, 227);
    color: #fff;
}

.offer h3 {
    font-size: 22px;
    padding: 10px 0;
}

.offer p {
    font-size: 12px;
    padding-bottom: 20px;
    color: #fff;
}

.offer-1 .price {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}

.offer-3 .price {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}

.offer-2 .price {
    font-size: 50px;
    color: #0078aa;
    font-weight: bold;
}

.offer .treatments {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 16px;
}

.cross {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.cross2 {
    color: #0078aa;
    font-size: 16px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #0078aa;
    border-radius: 10px;
    color: rgb(17, 121, 168);
    background: white;
}

button:hover {
    border: 2px solid transparent;
    background: rgb(17, 121, 168);
    color: #fff;
}

.offer-2 {
    height: 580px;
    background: #fff;
    border: 1px solid #0078aa;
    padding: 50px 100px;
}

.offer-2 p {
    color: rgb(17, 121, 168);
}

.offer-2 h3 {
    color: rgb(17, 121, 168);
}

.offer-2 #price {
    color: rgb(17, 121, 168);
}

.appointment-img {
    background: url(../img/contact_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 50%;
    height: 500px;
}

.appointment-wrap {
    display: flex;
    justify-content: center;
}

.forms-header {
    padding-top: 50px;
    padding-left: 40px;
    width: 50%;
}

.forms-header h5 {
    font-weight: 300;
    padding: 0;
}

.forms {
    padding-top: 10px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid rgb(225, 225, 225);
    background: #fff;
}

input::placeholder {
    color: grey;
    font-style: italic;
}

input:nth-of-type(2) {
    border: none;
}

input:nth-of-type(4)::placeholder {
    font-style: normal;
    color: black;
}

#form-submmit-button {
    margin: 15px 0;
    background: #0078aa;
    color: white;
}

#form-submmit-button:hover {
    margin: 15px 0;
    background: white;
    color: #0078aa;
    border: 2px solid#0078aa;
}

footer {
    padding: 15px;
    text-align: center;
    background: rgb(54, 54, 54);
    color: #fff;
}

@media (min-width:768px) and (max-width:1279px) {
    .logo-block {
        margin-left: 0;
    }
    .header-nav {
        padding-right: 0;
        margin-top: 10px;
        margin-right: 20px;
    }
    .health-care-block {
        background: url(../img/lady.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30% 0%;
        height: 550px;
        border-bottom-right-radius: 0%;
    }
    .section-health-care {
        padding-left: 2%;
        padding-top: 200px;
    }
    .about-clinic-section {
        background: url(../img/tools.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
    }
    .about-clinic-text {
        width: 90%;
        padding: 20px;
    }
    .help-block {
        width: 28%;
        height: auto;
        background: #fff;
        padding: 20px;
        margin: 15px;
    }
    .offers {
        background: url(../img/pricing_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% center;
    }
    .offer {
        height: 480px;
        padding: 10px 40px;
        text-align: center;
        background: rgb(78, 201, 227);
        color: #fff;
        margin-bottom: 0px;
    }
    .offer-2 {
        height: 520px;
        background: #fff;
        border: 1px solid #0078aa;
        padding: 30px 40px;
        margin-bottom: 0px;
    }
    #price {
        font-size: 50px;
        color: #fff;
        font-weight: bold;
    }
    #treatments {
        font-style: italic;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .offers-blocks {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        align-items: center;
    }
    .forms-header h2 {
        width: 80%;
    }
    input:nth-of-type(2) {
        border-bottom: 1px solid rgb(225, 225, 225);
    }
    input:nth-of-type(5) {
        border: none;
    }
}

@media (min-width:414px) and (max-width:767px) {
    .header-wrap {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        align-items: center;
        width: 100%;
    }
    .header-nav {
        margin-right: 0%;
        margin-top: 10px;
    }
    nav a {
        margin-left: 12px;
        text-decoration: none;
        color: #363636;
        font-weight: bold;
        font-size: 14px;
    }
    .logo-block {
        margin: 0px;
        padding: 0px;
    }
    .health-care-block {
        background: url(../img/lady.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-right-radius: 0%;
        background-position: 31% 0%;
        height: auto;
        margin-top: 60px;
    }
    .scrollup {
        position: fixed;
        right: -20px;
        bottom: -25px;
    }
    .section-health-care {
        text-align: center;
        padding: 150px 8% 0px 8%;
    }
    .section-health-care p {
        color: silver;
        padding-top: 20px;
        text-align: center;
    }
    .health-care-wrap {
        width: auto;
    }
    .section-health-care p {
        color: silver;
        padding-top: 20px;
        font-size: 18px;
    }
    .icons {
        margin-top: 10px;
        align-items: center;
    }
    i {
        color: white;
        background: rgb(17, 121, 168);
        border-radius: 50%;
        border: 1px solid #fff;
        width: 60px;
        height: 60px;
        text-align: center;
        padding-top: 14px;
        font-size: 30px;
        margin: 25px;
    }
    i:hover {
        color: rgb(17, 121, 168);
        border: 1px solid rgb(17, 121, 168);
    }
    .about-clinic-block {
        display: flex;
        justify-content: center;
        padding: 0px;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .about-clinic-section {
        background: url(../img/tools.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        margin: 0px;
        height: 300px;
    }
    .about-clinic-wrap {
        width: 100%;
    }
    .about-clinic-text {
        width: 100%;
        padding: 20px;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }
    #proffesional-line {
        color: #0078aa;
        padding: 10px 0;
    }
    .about-clinic-text h4 {
        padding: 8px 0;
        text-align: center;
    }
    .about-clinic-text p {
        padding-bottom: 10px;
        font-size: 14px;
        text-align: center;
    }
    .help-section {
        background: url(../img/services_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        height: auto;
    }
    .offers {
        background: url(../img/pricing_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }
    .offers-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 40px;
        align-items: center;
    }
    .offers-header {
        padding: 40px 0 10px 0;
    }
    .offer {
        height: auto;
        padding: 0;
        text-align: center;
        background: rgb(78, 201, 227);
        color: #fff;
        margin: 10px 0;
        width: 380px;
        padding: 30px 0;
    }
    .offer-2 {
        height: auto;
        background: #fff;
        border: 1px solid #0078aa;
    }
    .appointment-img {
        background: url(../img/contact_image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30% 50%;
        width: 100%;
        height: 400px;
    }
    .appointment-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .forms-header {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .forms-header h2 {
        text-align: center;
        margin: 4% 25% 0 25%;
    }
    .forms-header h5 {
        text-align: center;
        margin-top: 5px;
    }
    .forms {
        margin: 0% 5%;
    }
    input:nth-of-type(2) {
        border-bottom: 1px solid rgb(225, 225, 225);
    }
    input:nth-of-type(4) {
        border: none;
    }
}