* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

main .section_card_wrap .section_card .section_card_right_container .section_card_text, main .section_card_wrap .section_card .section_card_right_container .section_link, main .section_banner .section_banner_text {
  font-size: 12px;
  color: silver;
  padding: 10px;
  line-height: 18px; }

header .landing-logo p span, footer .footer-wrap .footer_logo p span {
  font-size: 6px;
  display: block;
  margin-left: 10px; }

body {
  background: white; }

header {
  background: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  border-bottom-right-radius: 30%; }
  header .header-wrap {
    margin-left: 150px;
    padding: 20px;
    color: #232535;
    padding-bottom: 100px;
    z-index: 1;
    position: relative; }
    header .header-wrap::before {
      display: block;
      background-color: #14a0c7;
      width: 210px;
      height: 38px;
      content: "";
      position: absolute;
      z-index: -1;
      top: 160px; }
  header .landing-logo {
    display: flex; }
    header .landing-logo img {
      width: 35px;
      height: 35px; }
    header .landing-logo p {
      width: 50px;
      font-size: 16px;
      padding-left: 10px; }
  header .header_heading {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bold;
    width: 400px;
    line-height: 50px; }
  header .header_text {
    font-size: 12px;
    width: 450px;
    line-height: 18px;
    padding-bottom: 40px;
    opacity: 0.7; }

.login {
  margin-left: 110px; }

button {
  width: 100px;
  height: 35px;
  padding: 8px 5px;
  background: #6a981a;
  color: whitesmoke;
  font-size: 14px;
  border: 0px;
  border-radius: 2px;
  cursor: pointer; }
  button:hover {
    color: #6a981a;
    background-color: white; }

a {
  color: whitesmoke; }
  a:hover {
    text-decoration: none; }

main .section_text {
  text-align: center;
  z-index: 1;
  padding: 25px 0px 5px 0;
  font-size: 30px;
  position: relative;
  color: black; }
  main .section_text::before {
    background-color: #14a0c7;
    width: 130px;
    height: 38px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 50.62%; }
main .section_card_wrap {
  width: 830px;
  margin: auto; }
  main .section_card_wrap .section_card {
    display: flex;
    margin: 20px;
    background-color: #21232e;
    padding: 12px;
    border-radius: 5px; }
    main .section_card_wrap .section_card .section_card_img {
      width: 310px;
      height: 200px;
      border-radius: 5px; }
    main .section_card_wrap .section_card .section_card_right_container {
      width: 360px;
      text-align: center;
      margin: 0px 40px;
      color: whitesmoke;
      margin-top: 10px; }
      main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        font-size: 16px;
        font-weight: bold;
        padding: 20px; }
      main .section_card_wrap .section_card .section_card_right_container .section_card_text {
        text-align: justify; }
main .section_banner {
  width: 850px;
  background: linear-gradient(to right, #6a971c, #3462c8);
  margin: 20px auto;
  display: flex;
  justify-content: justify;
  padding: 15px;
  border-radius: 4px;
  position: relative;
  top: 70px; }
  main .section_banner p {
    padding: 5px 0px 0px 5px;
    margin-left: 90px; }
  main .section_banner .section_banner_heading {
    font-size: 21px;
    z-index: 1;
    color: #2b2f3c;
    position: relative; }
    main .section_banner .section_banner_heading::before {
      background-color: #14a0c7;
      width: 44px;
      height: 33px;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 84px; }
  main .section_banner .section_banner_text {
    padding-left: 6px; }
  main .section_banner .section_banner_button {
    margin-left: 230px;
    margin-top: 10px; }

footer {
  background-color: #21232e;
  height: 180px; }
  footer .footer-wrap {
    display: flex;
    color: whitesmoke; }
    footer .footer-wrap .footer_logo {
      display: flex;
      margin-top: 100px;
      margin-left: 100px;
      color: silver; }
      footer .footer-wrap .footer_logo img {
        width: 35px;
        height: 35px;
        color: silver; }
      footer .footer-wrap .footer_logo p {
        width: 50px;
        font-size: 16px;
        padding-left: 10px; }
        footer .footer-wrap .footer_logo p span {
          color: silver; }
    footer .footer-wrap .footer_text {
      font-size: 11px;
      width: 230px;
      margin-left: 25%;
      margin-top: 100px;
      color: silver; }
    footer .footer-wrap .footer-cr {
      font-size: 12px;
      margin-left: 20%;
      margin-top: 100px;
      color: silver; }
